.hide,
.nascondi {
  display: none !important;
}

/* BOTTONI */
.btn-standard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
  padding: 0.5em 1rem;
  background-color: #202b49;
  border: 2px solid #202b49;
  color: white;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.btn-standard:hover, .btn-standard:focus {
  background-color: #0081c7 !important;
}
.btn-standard.btn-alt {
  background-color: #0081c7;
  border: 1px solid #0081c7;
  font-size: 0.85rem;
}
.btn-standard.btn-alt:hover, .btn-standard.btn-alt:focus {
  background-color: #e390f3 !important;
}

label {
  font-size: 13px;
  color: #3f3f3f;
}

legend {
  color: #005985;
  padding: 0 !important;
  font-size: 1.75rem;
  font-family: "Anton", sans-serif;
}

label:has(~ .form-control.tc-required)::after {
  content: "*";
  color: firebrick;
  margin-left: 3px;
}

.check-zone {
  padding: 16px 48px;
  border: 2px solid #005985;
  background-color: #f6f6f9;
}

label.title-label {
  color: #005985;
  padding: 0 !important;
  font-size: 1.15rem;
  font-family: "Anton", sans-serif;
  font-weight: 500;
}