.hide,
.nascondi {
  display: none !important;
  opacity: 0;
}

/* BOTTONI */
.btn-standard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
  padding: 0.5em 1rem;
  background-color: #202b49;
  border: 2px solid #202b49;
  color: white;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.btn-standard:hover, .btn-standard:focus {
  background-color: #0081c7 !important;
}
.btn-standard:disabled, .btn-standard:disabled:hover {
  background-color: lightgray !important;
  color: #999;
  border: 1px solid darkgray;
}
.btn-standard.btn-alt {
  background-color: #0081c7;
  border: 1px solid #0081c7;
  font-size: 0.85rem;
}
.btn-standard.btn-alt:hover, .btn-standard.btn-alt:focus {
  background-color: #e390f3 !important;
}
.btn-standard.btn-alt:disabled {
  background-color: lightgray !important;
  color: #999;
  border: 1px solid darkgray;
}

h4.titolo-sez {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #005985;
  padding: 4px;
}

h4.titoletto {
  color: #005985;
}

label {
  font-size: 13px;
  color: #3f3f3f;
}

fieldset.bordered {
  border-left: 4px dotted #005985;
  padding-left: 16px;
}

legend {
  color: #005985;
  padding: 0 !important;
  font-size: 1.75rem;
  font-family: "Anton", sans-serif;
}

label:has(~ .form-control.tc-required)::after,
label:has(~ .form-select.tc-required)::after,
.form-check-input.tc-required ~ label::after {
  content: "*";
  color: firebrick;
  margin-left: 3px;
}

.check-zone {
  padding: 16px 48px;
  border: 2px solid #005985;
  background-color: #f6f6f9;
}

label.title-label {
  color: #005985;
  padding: 0 !important;
  font-size: 1.15rem;
  font-family: "Anton", sans-serif;
  font-weight: 500;
}

.note_info {
  font-size: 0.9em;
  color: #005985;
}

.note_default {
  font-size: 0.925em;
  border: 1px solid #005985;
  padding: 10px 10px 10px 40px;
  position: relative;
}
.note_default::before {
  content: "!";
  font-size: 1.75em;
  font-weight: bold;
  display: flex;
  position: absolute;
  background: #005985;
  color: #fff;
  top: 0%;
  left: 0px;
  width: 30px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.note_default p {
  margin-bottom: 0;
}

#errLabel {
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}

#errLabel.active {
  opacity: 1;
  display: block;
  animation: bounceZoom 0.5s ease-in-out;
  animation-iteration-count: 5;
}

ul#all_steps {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
ul#all_steps li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
}
ul#all_steps li .num {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #fff;
  background-color: #0081c7;
  font-size: 18px;
  font-size: bold;
  width: 36px;
  height: 36px;
}
ul#all_steps li:not(:first-child) .num::after {
  content: "";
  background: #0081c7;
  display: block;
  height: 3px;
  width: 50px;
  top: 50%;
  left: -28px;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
ul#all_steps li .desc {
  font-size: 13px;
  color: #3f3f3f;
}
ul#all_steps li.active .num {
  background-color: #794084;
}
ul#all_steps li.active .desc {
  color: #794084;
}

div.riepilogo-box {
  border: 2px solid #005985;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  overflow: hidden;
  margin-bottom: 24px;
  padding: 0 0 1rem 0;
}
div.riepilogo-box .titolo {
  background-color: #0081c7;
  color: white;
  padding: 0.5rem 1rem;
  text-align: right;
  font-size: 15px;
}
div.riepilogo-box.b-offerta {
  padding: 0 0 2rem 0;
}
div.riepilogo-box.b-offerta .titolo {
  background-color: #005985;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 767px) {
  ul#all_steps {
    display: none;
  }
}
@keyframes bounceZoom {
  0%, 100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
  }
}