.hide,
.nascondi {
  display: none !important;
  opacity: 0;
}

/* BOTTONI */
.btn-standard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
  padding: 0.5em 1rem;
  background-color: #202b49;
  border: 2px solid #202b49;
  color: white;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.btn-standard:hover, .btn-standard:focus {
  background-color: #0081c7 !important;
}
.btn-standard:disabled, .btn-standard:disabled:hover {
  background-color: lightgray !important;
  color: #999;
  border: 1px solid darkgray;
}
.btn-standard.btn-alt {
  background-color: #0081c7;
  border: 1px solid #0081c7;
  font-size: 0.85rem;
}
.btn-standard.btn-alt:hover, .btn-standard.btn-alt:focus {
  background-color: #e390f3 !important;
}
.btn-standard.btn-alt:disabled {
  background-color: lightgray !important;
  color: #999;
  border: 1px solid darkgray;
}

a.btn-download {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-family: "Helvetica", Sans-serif;
  color: #ffffff !important;
  background-color: #005985;
  padding: 12px 24px;
  border: 2px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
a.btn-download:hover, a.btn-download:focus {
  background-color: #0081c7 !important;
}

body.page-template-tpl-risultato-copertura .site-content {
  background-color: #794084;
  background-image: linear-gradient(90deg, #794084 0%, #794084 70%, #005985 100%);
  padding: 2rem 0;
}

.copertura-result {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .copertura-result {
    flex-direction: row;
  }
}

.copertura-result-header {
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  padding: 1.5rem;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
}
.copertura-result-header.copertura-ok {
  border: 6px solid green;
}
.copertura-result-header.copertura-ko {
  border: 6px solid #b91414;
}
.copertura-result-header.copertura-wrong {
  border: 6px solid #e390f3;
}
.copertura-result-header .ico-esito {
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 768px) {
  .copertura-result-header {
    flex-direction: row;
  }
}

#result-details {
  flex: 1;
}

#result-cart {
  flex: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
}
#result-cart #offer-composer-form {
  width: 100%;
}
@media screen and (min-width: 768px) {
  #result-cart {
    max-width: 480px;
  }
}

.result-text {
  font-size: 1.25rem;
  font-weight: 500;
}

.offer-box,
.offer-option {
  background-color: #f4f4f4;
  border: 1px solid #3f3f3f;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  -webkit-border-radius: 16px;
  margin: 2rem 0;
}

.offer-single {
  cursor: pointer;
  transition: transform 300ms ease;
  -webkit-transition: transform 300ms ease;
  -moz-transition: transform 300ms ease;
  -ms-transition: transform 300ms ease;
  -o-transition: transform 300ms ease;
}
.offer-single:hover {
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}
.offer-single.active {
  border: 2px solid #202b49;
  outline-color: #e390f3;
  outline-offset: 0px;
  outline-width: 4px;
  outline-style: solid;
}
.offer-single.active h2 {
  color: #794084 !important;
}

.esito-section-title {
  color: #f4f4f4;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  font-size: 30px !important;
}

.offer-option {
  display: grid;
  grid-template-areas: "titolo titolo" "desc desc" "prezzo bottone";
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 768px) {
  .offer-option {
    grid-template-areas: "titolo prezzo" "desc bottone";
    grid-template-columns: 3fr 1fr;
  }
}
.offer-option .option-title {
  grid-area: titolo;
}
.offer-option .option-desc {
  grid-area: desc;
}
.offer-option .option-price {
  grid-area: prezzo;
  text-align: center;
}
.offer-option .offer-option-add {
  grid-area: bottone;
  text-align: center;
  max-height: 40px;
}
.offer-option .offer-option-add:disabled, .offer-option .offer-option-add:disabled:hover {
  background-color: lightgray !important;
  color: #999;
  border: 1px solid darkgray;
}

#btn-conferma-offerta .btn-standard {
  padding: 0.5em 2.5em;
  margin-top: 2rem;
}

.btn-option-small {
  color: #794084;
  background: transparent !important;
}
.btn-option-small:hover, .btn-option-small:focus {
  color: #005985;
  background: transparent !important;
}

ul#cart-caratteristiche-offerta {
  padding: 0;
  margin: 16px 0 32px 16px;
  list-style: none;
}
ul#cart-caratteristiche-offerta i.fas,
ul#cart-caratteristiche-offerta i.far,
ul#cart-caratteristiche-offerta i.fa {
  color: #005985;
}

.riga-costo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3f3f3f;
}
.riga-costo.row-opt {
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.riga-costo.row-opt .costo {
  text-align: right;
  width: 100%;
}

.js-btn-cart-del {
  background-color: transparent;
  color: firebrick !important;
  padding: 0.75rem;
}
.js-btn-cart-del svg path {
  stroke: firebrick;
}

.messaggio-info {
  text-align: center;
  font-size: 1.25em;
  margin: 2em 1em;
}

#cart-note {
  font-size: 0.95rem;
  background: #e3e3e3;
  padding: 0.5rem;
}

/* --------------- VERIFICA COPERTURA ----------------- */
/* ----- SWITCH BUTTON ----*/
.switch-field {
  display: flex;
  margin-bottom: 16px;
  overflow: hidden;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  color: #fff;
  box-shadow: none;
}

.switch-field input:checked + label#label-azienda {
  background-color: #794084;
}

.switch-field input:checked + label#label-residenziale {
  background-color: #0081c7;
}

.switch-field label:first-of-type {
  border-radius: 12px 0 0 12px;
  -webkit-border-radius: 12px 0 0 12px;
  -moz-border-radius: 12px 0 0 12px;
  -ms-border-radius: 12px 0 0 12px;
  -o-border-radius: 12px 0 0 12px;
}

.switch-field label:last-of-type {
  border-radius: 0 12px 12px 0;
  -webkit-border-radius: 0 12px 12px 0;
  -moz-border-radius: 0 12px 12px 0;
  -ms-border-radius: 0 12px 12px 0;
  -o-border-radius: 0 12px 12px 0;
}

/* ********************************************
 * *************** PRELOADER ****************** */
#preloader {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 54px;
  height: 54px;
}

#preloader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 10px;
  background: #fff;
  animation: pulse 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  -webkit-animation: pulse 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

#preloader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
  background-color: #e390f3;
}

#preloader div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
  background-color: #666688;
}

#preloader div:nth-child(3) {
  left: 42px;
  animation-delay: 0;
  background-color: #e9e9e9;
}

@keyframes pulse {
  0% {
    top: 8px;
    height: 40px;
  }
  50%, 100% {
    top: 24px;
    height: 24px;
  }
}
/* ************************************************
 * *************** START STANDARD CSS ****************** */
/* CSS per la form di copertura */
.copertura {
  position: relative;
}
.copertura .form-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  margin-bottom: 20px;
}
.copertura .form-row > label {
  width: 160px;
  text-align: left;
  font-size: 12px;
  padding-left: 12px;
}
.copertura .input-wrapper {
  width: 100%;
  background-color: #e6e6e6;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.copertura .input-wrapper:has(input[disabled=disabled]), .copertura .input-wrapper:has(select[disabled=disabled]) {
  background-color: #939393;
}
.copertura .form-row input,
.copertura .form-row select {
  width: 96%;
  margin: 0 2%;
  min-width: 230px;
  background-color: transparent;
  border: none;
  outline: none;
}
.copertura .help {
  color: #9b9b9b;
  font-style: italic;
  padding-left: 12px;
}