.hide {
  display: none !important;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-bold {
  font-weight: bold;
}

body.page-template-tpl-risultato-copertura .site-content {
  background-color: #794084;
  background-image: linear-gradient(90deg, #794084 0%, #794084 70%, #005985 100%);
  padding: 2rem 0;
}

.copertura-result {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .copertura-result {
    flex-direction: row;
  }
}

.copertura-result-header {
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  padding: 1.5rem;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
}
.copertura-result-header.copertura-ok {
  border: 6px solid green;
}
.copertura-result-header.copertura-ko {
  border: 6px solid red;
}
.copertura-result-header .ico-esito {
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 768px) {
  .copertura-result-header {
    flex-direction: row;
  }
}

#result-details {
  flex: 1;
}

#result-cart {
  flex: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
}
#result-cart #offer-composer-form {
  width: 100%;
}
@media screen and (min-width: 768px) {
  #result-cart {
    max-width: 480px;
  }
}

.result-text {
  color: #f4f4f4;
  font-size: 1.25rem;
  font-weight: 500;
}

.offer-box,
.offer-option {
  background-color: #f4f4f4;
  border: 1px solid #3f3f3f;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  -webkit-border-radius: 16px;
  margin: 2rem 0;
}

.offer-single {
  cursor: pointer;
  transition: transform 300ms ease;
  -webkit-transition: transform 300ms ease;
  -moz-transition: transform 300ms ease;
  -ms-transition: transform 300ms ease;
  -o-transition: transform 300ms ease;
}
.offer-single:hover {
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}
.offer-single.active {
  border: 2px solid #202b49;
  outline-color: #e390f3;
  outline-offset: 0px;
  outline-width: 4px;
  outline-style: solid;
}
.offer-single.active h2 {
  color: #794084 !important;
}

.esito-section-title {
  color: #f4f4f4;
  font-weight: bold;
  background-color: #202b49;
  border: 2px solid #f4f4f4;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
}

.offer-option {
  display: grid;
  grid-template-areas: "titolo titolo" "desc desc" "prezzo bottone";
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 768px) {
  .offer-option {
    grid-template-areas: "titolo prezzo" "desc bottone";
    grid-template-columns: 3fr 1fr;
  }
}
.offer-option .option-title {
  grid-area: titolo;
}
.offer-option .option-desc {
  grid-area: desc;
}
.offer-option .option-price {
  grid-area: prezzo;
  text-align: center;
}
.offer-option .offer-option-add {
  grid-area: bottone;
  text-align: center;
}

.btn-standard {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  font-size: 1rem;
  padding: 0.5em;
  background-color: #202b49;
  border: 2px solid #202b49;
  color: white;
  height: 2.5rem;
  outline: solid 3px #202b49;
  outline-offset: 2px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.btn-standard:hover, .btn-standard:focus {
  background-color: #794084;
}

#btn-conferma-offerta .btn-standard {
  padding: 0.5em 2.5em;
}

.btn-option-small {
  color: #794084;
  background: transparent !important;
}
.btn-option-small:hover, .btn-option-small:focus {
  color: #005985;
  background: transparent !important;
}

ul#cart-caratteristiche-offerta {
  padding: 0;
  margin: 16px 0 32px 16px;
  list-style: none;
}
ul#cart-caratteristiche-offerta i.fas,
ul#cart-caratteristiche-offerta i.far,
ul#cart-caratteristiche-offerta i.fa {
  color: #005985;
}

.riga-costo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3f3f3f;
}

.js-btn-cart-del {
  background-color: transparent;
}
.js-btn-cart-del svg path {
  stroke: firebrick;
}