.hide,
.nascondi {
  display: none !important;
  opacity: 0;
}

/* BOTTONI */
.btn-standard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
  padding: 0.5em 1rem;
  background-color: $blu-scuro;
  border: 2px solid $blu-scuro;
  color: white;
  border-radius: $b-radius;
  -webkit-border-radius: $b-radius;
  -moz-border-radius: $b-radius;
  -ms-border-radius: $b-radius;
  -o-border-radius: $b-radius;

  &:hover,
  &:focus {
    background-color: $blu-chiaro !important;
  }

  &:disabled,
  &:disabled:hover {
    background-color: lightgray !important;
    color: #999;
    border: 1px solid darkgray;
  }

  &.btn-alt {
    background-color: $blu-chiaro;
    border: 1px solid $blu-chiaro;
    font-size: 0.85rem;

    &:hover,
    &:focus {
      background-color: $viola-chiaro !important;
    }

    &:disabled {
      background-color: lightgray !important;
      color: #999;
      border: 1px solid darkgray;
    }
  }
}

a.btn-download {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-family: "Helvetica", Sans-serif;
  color: #ffffff !important;
  background-color: $blu-medio;
  padding: 12px 24px;
  border: 2px;
  max-width: fit-content;
  border-radius: $b-radius;
  -webkit-border-radius: $b-radius;
  -moz-border-radius: $b-radius;
  -ms-border-radius: $b-radius;
  -o-border-radius: $b-radius;

  &.small {
    padding: 8px 16px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  &:hover,
  &:focus {
    background-color: $blu-chiaro !important;
  }
}
