$azienda-color: #bb6604;
$residenziale-color: #019214;
$grigino: #3f3f3f;

$viola-scuro: #44244b;
$viola: #794084;
$viola-chiaro: #e390f3;
$ceruleo: #abc4d1;
$blu-chiaro: #0081c7;
$blu-medio: #005985;
$blu-scuro: #202b49;

$tablet: 768px;
$smartphone: 560px;

$b-radius: 16px;
