@import "variables";
@import "helpers";

label {
  font-size: 13px;
  color: $grigino;
}

legend {
  color: $blu-medio;
  padding: 0 !important;
  font-size: 1.75rem;
  font-family: "Anton", sans-serif;
}

label:has(~ .form-control.tc-required)::after {
  content: "*";
  color: firebrick;
  margin-left: 3px;
}

.check-zone {
  padding: 16px 48px;
  border: 2px solid $blu-medio;
  background-color: #f6f6f9;
}

label.title-label {
  color: $blu-medio;
  padding: 0 !important;
  font-size: 1.15rem;
  font-family: "Anton", sans-serif;
  font-weight: 500;
}

.note_default {
  font-size: 0.925em;
  border: 1px solid $blu-medio;
  padding: 10px 10px 10px 40px;
  position: relative;

  &::before {
    content: "!";
    font-size: 1.75em;
    font-weight: bold;
    display: flex;
    position: absolute;
    background: $blu-medio;
    color: #fff;
    top: 0%;
    left: 0px;
    width: 30px;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  p {
    margin-bottom: 0;
  }
}
