@import "variables";
@import "helpers";

h4.titolo-sez {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: $blu-medio;
  padding: 4px;
}

h4.titoletto {
  color: $blu-medio;
}

label {
  font-size: 13px;
  color: $grigino;
}

fieldset.bordered {
  border-left: 4px dotted $blu-medio;
  padding-left: 16px;
}

legend {
  color: $blu-medio;
  padding: 0 !important;
  font-size: 1.75rem;
  font-family: "Anton", sans-serif;
}

label:has(~ .form-control.tc-required)::after,
label:has(~ .form-select.tc-required)::after,
.form-check-input.tc-required ~ label::after {
  content: "*";
  color: firebrick;
  margin-left: 3px;
}

.check-zone {
  padding: 16px 48px;
  border: 2px solid $blu-medio;
  background-color: #f6f6f9;
}

label.title-label {
  color: $blu-medio;
  padding: 0 !important;
  font-size: 1.15rem;
  font-family: "Anton", sans-serif;
  font-weight: 500;
}

.note_info {
  font-size: 0.9em;
  color: $blu-medio;
}

.note_default {
  font-size: 0.925em;
  border: 1px solid $blu-medio;
  padding: 10px 10px 10px 40px;
  position: relative;

  &::before {
    content: "!";
    font-size: 1.75em;
    font-weight: bold;
    display: flex;
    position: absolute;
    background: $blu-medio;
    color: #fff;
    top: 0%;
    left: 0px;
    width: 30px;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  p {
    margin-bottom: 0;
  }
}

#errLabel {
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}

#errLabel.active {
  opacity: 1;
  display: block;
  animation: bounceZoom 0.5s ease-in-out;
  animation-iteration-count: 5;
}

ul#all_steps {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  column-gap: 32px;

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    row-gap: 6px;

    .num {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $blu-scuro;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      color: #fff;
      background: linear-gradient(45deg, $blu-scuro, $blu-chiaro);
      font-size: 18px;
      font-weight: bold;
      width: 36px;
      height: 36px;
    }

    &:not(:first-child) .num::after {
      content: "";
      background: $ceruleo;
      display: block;
      height: 3px;
      width: 50px;
      top: 50%;
      left: -30px;
      position: absolute;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }

    .desc {
      font-size: 13px;
      color: $grigino;
    }

    &.active {
      .num {
        background: linear-gradient(45deg, $viola-scuro, $viola-chiaro);
        border: 2px solid $viola-scuro;
      }
      .desc {
        color: $viola;
      }
    }
  }
}

div.riepilogo-box {
  border: 2px solid lightgray;
  overflow: hidden;
  margin-bottom: 24px;
  padding: 0 0 1rem 0;

  .titolo {
    background-color: $ceruleo;
    color: $grigino;
    padding: 0.5rem 1rem;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
  }

  &.b-offerta {
    padding: 0 0 2rem 0;

    .titolo {
      background-color: $blu-medio;
      font-size: 19px;
      text-align: center;
      color: #fff;
    }
  }
}

@media (max-width: 767px) {
  ul#all_steps {
    display: none;
  }
}

@keyframes bounceZoom {
  0%,
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
  }
}
