@import "variables";
@import "helpers";

body.page-template-tpl-risultato-copertura .site-content {
  background-color: $viola;
  background-image: linear-gradient(
    90deg,
    $viola 0%,
    $viola 70%,
    $blu-medio 100%
  );
  padding: 2rem 0;
}

.copertura-result {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }
}

.copertura-result-header {
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  border-radius: $b-radius;
  -webkit-border-radius: $b-radius;
  -moz-border-radius: $b-radius;
  -ms-border-radius: $b-radius;
  -o-border-radius: $b-radius;
  padding: 1.5rem;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;

  &.copertura-ok {
    border: 6px solid green;
  }

  &.copertura-ko {
    border: 6px solid red;
  }

  &.copertura-wrong {
    border: 6px solid $viola-chiaro;
  }

  .ico-esito {
    width: 50px;
    height: 50px;
  }
  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }
}

#result-details {
  flex: 1;
}

#result-cart {
  flex: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;

  #offer-composer-form {
    width: 100%;
  }

  @media screen and (min-width: $tablet) {
    max-width: 480px;
  }
}

.result-text {
  color: #f4f4f4;
  font-size: 1.25rem;
  font-weight: 500;
}

.offer-box,
.offer-option {
  background-color: #f4f4f4;
  border: 1px solid $grigino;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: $b-radius;
  -webkit-border-radius: $b-radius;
  -moz-border-radius: $b-radius;
  -ms-border-radius: $b-radius;
  -o-border-radius: $b-radius;
  -webkit-border-radius: $b-radius;
  margin: 2rem 0;
}

.offer-single {
  cursor: pointer;
  transition: transform 300ms ease;
  -webkit-transition: transform 300ms ease;
  -moz-transition: transform 300ms ease;
  -ms-transition: transform 300ms ease;
  -o-transition: transform 300ms ease;

  &:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
  }

  &.active {
    border: 2px solid $blu-scuro;
    outline-color: $viola-chiaro;
    outline-offset: 0px;
    outline-width: 4px;
    outline-style: solid;

    h2 {
      color: $viola !important;
    }
  }
}

.esito-section-title {
  color: #f4f4f4;
  font-weight: bold;
  background-color: $blu-scuro;
  border: 2px solid #f4f4f4;
  width: fit-content;
  padding: 0.5rem 1rem;
}

.offer-option {
  display: grid;
  grid-template-areas:
    "titolo titolo"
    "desc desc"
    "prezzo bottone";
  grid-template-columns: 1fr 1fr;

  @media screen and (min-width: $tablet) {
    grid-template-areas:
      "titolo prezzo"
      "desc bottone";
    grid-template-columns: 3fr 1fr;
  }

  .option-title {
    grid-area: titolo;
  }

  .option-desc {
    grid-area: desc;
  }

  .option-price {
    grid-area: prezzo;
    text-align: center;
  }

  .offer-option-add {
    grid-area: bottone;
    text-align: center;
  }
}

#btn-conferma-offerta .btn-standard {
  padding: 0.5em 2.5em;
}

.btn-option-small {
  color: $viola;
  background: transparent !important;
  &:hover,
  &:focus {
    color: $blu-medio;
    background: transparent !important;
  }
}

ul#cart-caratteristiche-offerta {
  padding: 0;
  margin: 16px 0 32px 16px;
  list-style: none;

  i.fas,
  i.far,
  i.fa {
    color: $blu-medio;
  }
}

.riga-costo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $grigino;
}

.js-btn-cart-del {
  background-color: transparent;

  svg path {
    stroke: firebrick;
  }
}

.messaggio-info {
  text-align: center;
  color: white;
  font-size: 1.25em;
  margin: 2em 1em;
}

/* --------------- VERIFICA COPERTURA ----------------- */

/* ----- SWITCH BUTTON ----*/
.switch-field {
  display: flex;
  margin-bottom: 16px;
  overflow: hidden;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  color: #fff;
  box-shadow: none;
}

.switch-field input:checked + label#label-azienda {
  background-color: $azienda-color;
}

.switch-field input:checked + label#label-residenziale {
  background-color: $residenziale-color;
}

.switch-field label:first-of-type {
  border-radius: 12px 0 0 12px;
  -webkit-border-radius: 12px 0 0 12px;
  -moz-border-radius: 12px 0 0 12px;
  -ms-border-radius: 12px 0 0 12px;
  -o-border-radius: 12px 0 0 12px;
}

.switch-field label:last-of-type {
  border-radius: 0 12px 12px 0;
  -webkit-border-radius: 0 12px 12px 0;
  -moz-border-radius: 0 12px 12px 0;
  -ms-border-radius: 0 12px 12px 0;
  -o-border-radius: 0 12px 12px 0;
}

/* ********************************************
 * *************** PRELOADER ****************** */
#preloader {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 54px;
  height: 54px;
}
#preloader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 10px;
  background: #fff;
  animation: pulse 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  -webkit-animation: pulse 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
#preloader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
  background-color: $viola-chiaro;
}
#preloader div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
  background-color: #666688;
}
#preloader div:nth-child(3) {
  left: 42px;
  animation-delay: 0;
  background-color: #e9e9e9;
}
@keyframes pulse {
  0% {
    top: 8px;
    height: 40px;
  }
  50%,
  100% {
    top: 24px;
    height: 24px;
  }
}

/* ************************************************
 * *************** START STANDARD CSS ****************** */

/* CSS per la form di copertura */
.copertura {
  position: relative;

  .form-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;
    margin-bottom: 20px;
  }

  .form-row > label {
    width: 160px;
    text-align: left;
    font-size: 12px;
    padding-left: 12px;
  }

  .input-wrapper {
    width: 100%;
    background-color: #e6e6e6;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    &:has(input[disabled="disabled"]),
    &:has(select[disabled="disabled"]) {
      background-color: #939393;
    }
  }

  .form-row input,
  .form-row select {
    width: 96%;
    margin: 0 2%;
    min-width: 230px;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .help {
    color: #9b9b9b;
    font-style: italic;
    padding-left: 12px;
  }
}
